vti_encoding:SR|utf8-nl
vti_encoding:SR|utf8-nl
vti_author:SR|HEWLETT-2N8FN74\\Owner
vti_modifiedby:SR|bsharbrough
vti_timelastmodified:TR|25 Feb 2003 14:33:24 -0000
vti_timecreated:TR|25 Feb 2003 13:33:22 -0000
vti_extenderversion:SR|6.0.2.4920
vti_lineageid:SR|{8AA4652C-BC08-406F-9F1C-560BE16AE711}
vti_backlinkinfo:VX|
vti_syncwith_www.sharbrough.net\:80:TR|25 Feb 2003 14:33:24 -0000
vti_cacheddtm:TX|25 Feb 2003 14:33:24 -0000
vti_filesize:IR|1969
vti_cachedlinkinfo:VX|S|acasbanr.gif S|acasrule.gif S|acasbul1.gif S|acasbul2.gif S|acasbul3.gif S|acashsel.gif S|acashbtn.gif S|acashhov.gif S|acasvsel.gif S|acasvbtn.gif S|acasvhov.gif S|acashom.gif S|acashomh.gif S|blhomep.gif S|acasup.gif S|acasuph.gif S|blupp.gif S|acasbck.gif S|acasbckh.gif S|blprevp.gif S|acasnxt.gif S|acasnxth.gif S|blnextp.gif S|acasbul1.gif S|acasbul2.gif S|acasbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/cascade/acasbanr.gif FSUS|_themes/cascade/acasrule.gif FSUS|_themes/cascade/acasbul1.gif FSUS|_themes/cascade/acasbul2.gif FSUS|_themes/cascade/acasbul3.gif FSUS|_themes/cascade/acashsel.gif FSUS|_themes/cascade/acashbtn.gif FSUS|_themes/cascade/acashhov.gif FSUS|_themes/cascade/acasvsel.gif FSUS|_themes/cascade/acasvbtn.gif FSUS|_themes/cascade/acasvhov.gif FSUS|_themes/cascade/acashom.gif FSUS|_themes/cascade/acashomh.gif FSUS|_themes/cascade/blhomep.gif FSUS|_themes/cascade/acasup.gif FSUS|_themes/cascade/acasuph.gif FSUS|_themes/cascade/blupp.gif FSUS|_themes/cascade/acasbck.gif FSUS|_themes/cascade/acasbckh.gif FSUS|_themes/cascade/blprevp.gif FSUS|_themes/cascade/acasnxt.gif FSUS|_themes/cascade/acasnxth.gif FSUS|_themes/cascade/blnextp.gif FSUS|_themes/cascade/acasbul1.gif FSUS|_themes/cascade/acasbul2.gif FSUS|_themes/cascade/acasbul3.gif
