vti_encoding:SR|utf8-nl
vti_encoding:SR|utf8-nl
vti_author:SR|HEWLETT-2N8FN74\\Owner
vti_modifiedby:SR|bsharbrough
vti_timelastmodified:TR|25 Feb 2003 14:33:24 -0000
vti_timecreated:TR|25 Feb 2003 13:33:22 -0000
vti_extenderversion:SR|6.0.2.4920
vti_lineageid:SR|{D22D1892-FF84-47AB-AF19-E961C0D424E2}
vti_backlinkinfo:VX|
vti_syncwith_www.sharbrough.net\:80:TR|25 Feb 2003 14:33:24 -0000
vti_cacheddtm:TX|25 Feb 2003 14:33:24 -0000
vti_filesize:IR|11167
vti_cachedlinkinfo:VX|S|casglobl.gif S|casbkgnd.gif S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/cascade/casglobl.gif FSUS|_themes/cascade/casbkgnd.gif FSUS|_themes/cascade/blank.gif
