vti_encoding:SR|utf8-nl
vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 May 2001 03:43:54 -0000
vti_syncwith_216.219.212.25\:80:TR|05 Sep 1999 20:45:25 -0000
vti_author:SR|default
vti_syncwith_ftp.connect.net\:21:TX|05 Sep 1999 21:45:24 -0000
vti_syncofs_ftp.connect.net\:21:TW|06 Feb 2000 19:48:00 -0000
vti_syncwith_localhost\\\\\\beaus\\sharbrough\\my documents\\my webs\\beau///beaus/sharbrough/my documents/my webs/beau:TR|05 Sep 1999 20:45:25 -0000
vti_modifiedby:SR|bsharbrough
vti_timecreated:TR|05 May 2001 01:43:52 -0000
vti_backlinkinfo:VX|
vti_extenderversion:SR|6.0.2.4920
vti_syncwith_www.sharbrough.net\:80:TR|05 May 2001 03:43:54 -0000
vti_cacheddtm:TX|05 May 2001 03:43:54 -0000
vti_filesize:IR|1433
vti_cachedlinkinfo:VX|S|urbbannd.gif S|urbhorsd.gif S|urbbul1d.gif S|urbbul2d.gif S|urbbul3d.gif S|urbhbusd.gif S|urbhbudd.gif S|urbvbusd.gif S|urbvbudd.gif S|urbhombd.gif S|urbupbd.gif S|urbprebd.gif S|urbnexbd.gif S|urbbul1d.gif S|urbbul2d.gif S|urbbul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/construc/urbbannd.gif FSUS|_themes/construc/urbhorsd.gif FSUS|_themes/construc/urbbul1d.gif FSUS|_themes/construc/urbbul2d.gif FSUS|_themes/construc/urbbul3d.gif FSUS|_themes/construc/urbhbusd.gif FSUS|_themes/construc/urbhbudd.gif FSUS|_themes/construc/urbvbusd.gif FSUS|_themes/construc/urbvbudd.gif FSUS|_themes/construc/urbhombd.gif FSUS|_themes/construc/urbupbd.gif FSUS|_themes/construc/urbprebd.gif FSUS|_themes/construc/urbnexbd.gif FSUS|_themes/construc/urbbul1d.gif FSUS|_themes/construc/urbbul2d.gif FSUS|_themes/construc/urbbul3d.gif
