vti_encoding:SR|utf8-nl
vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 May 2001 03:43:54 -0000
vti_syncwith_216.219.212.25\:80:TR|05 Sep 1999 20:45:25 -0000
vti_author:SR|default
vti_syncwith_ftp.connect.net\:21:TX|05 Sep 1999 21:45:24 -0000
vti_syncofs_ftp.connect.net\:21:TW|06 Feb 2000 19:48:00 -0000
vti_syncwith_localhost\\\\\\beaus\\sharbrough\\my documents\\my webs\\beau///beaus/sharbrough/my documents/my webs/beau:TR|05 Sep 1999 20:45:25 -0000
vti_modifiedby:SR|bsharbrough
vti_timecreated:TR|05 May 2001 01:43:53 -0000
vti_backlinkinfo:VX|
vti_extenderversion:SR|6.0.2.4920
vti_syncwith_www.sharbrough.net\:80:TR|05 May 2001 03:43:54 -0000
vti_cacheddtm:TX|05 May 2001 03:43:54 -0000
vti_filesize:IR|2134
vti_cachedlinkinfo:VX|S|urbbanna.gif S|urbhorsa.gif S|urbbul1a.gif S|urbbul2a.gif S|urbbul3a.gif S|urbhbuda.gif S|urbhbuha.gif S|urbhbusa.gif S|urbvbuda.gif S|urbvbusa.gif S|urbvbuha.gif S|urbhomda.gif S|urbhomha.gif S|urbhomsa.gif S|urbnexda.gif S|urbnexha.gif S|urbnexsa.gif S|urbpreda.gif S|urbpreha.gif S|urbpresa.gif S|urbupda.gif S|urbupha.gif S|urbupsa.gif S|urbbul1a.gif S|urbbul2a.gif S|urbbul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/construc/urbbanna.gif FSUS|_themes/construc/urbhorsa.gif FSUS|_themes/construc/urbbul1a.gif FSUS|_themes/construc/urbbul2a.gif FSUS|_themes/construc/urbbul3a.gif FSUS|_themes/construc/urbhbuda.gif FSUS|_themes/construc/urbhbuha.gif FSUS|_themes/construc/urbhbusa.gif FSUS|_themes/construc/urbvbuda.gif FSUS|_themes/construc/urbvbusa.gif FSUS|_themes/construc/urbvbuha.gif FSUS|_themes/construc/urbhomda.gif FSUS|_themes/construc/urbhomha.gif FSUS|_themes/construc/urbhomsa.gif FSUS|_themes/construc/urbnexda.gif FSUS|_themes/construc/urbnexha.gif FSUS|_themes/construc/urbnexsa.gif FSUS|_themes/construc/urbpreda.gif FSUS|_themes/construc/urbpreha.gif FSUS|_themes/construc/urbpresa.gif FSUS|_themes/construc/urbupda.gif FSUS|_themes/construc/urbupha.gif FSUS|_themes/construc/urbupsa.gif FSUS|_themes/construc/urbbul1a.gif FSUS|_themes/construc/urbbul2a.gif FSUS|_themes/construc/urbbul3a.gif
