.mstheme
{
	nav-banner-image: url(blobanc.gif);
	separator-image: url(blorulec.gif);
	list-image-1: url(blobul1c.gif);
	list-image-2: url(blobul2c.gif);
	list-image-3: url(blobul3c.gif);
	navbutton-horiz-pushed: url(bhbtnsc.gif);
	navbutton-horiz-normal: url(bhbtnnc.gif);
	navbutton-vert-pushed: url(bvbtnsc.gif);
	navbutton-vert-normal: url(bvbtnnc.gif);
	navbutton-home-normal: url(bhmbtnc.gif);
	navbutton-up-normal: url(bubtnc.gif);
	navbutton-prev-normal: url(bprvbtnc.gif);
	navbutton-next-normal: url(bnbtnc.gif);
}
.mstheme-bannertxt
{
	font-family: Arial, Arial, Helvetica;
	font-size: 6;
	font-weight: bold;
	color: rgb(0,0,0);
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Arial, Helvetica;
	font-size: 2;
	font-weight: bold;
	color: rgb(0,0,0);
}
.mstheme-vert-navtxt
{
	font-family: Arial, Arial, Helvetica;
	font-size: 2;
	font-weight: bold;
	color: rgb(0,0,0);
}
.mstheme-navtxthome
{
	font-family: Arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-navtxtup
{
	font-family: Arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-navtxtprev
{
	font-family: Arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-navtxtnext
{
	font-family: Arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
UL
{
	list-style-image:url(blobul1c.gif);
}
UL UL
{
	list-style-image:url(blobul2c.gif);
}
UL UL UL
{
	list-style-image:url(blobul3c.gif);
}
