vti_encoding:SR|utf8-nl
vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Feb 2003 17:41:40 -0000
vti_syncwith_216.219.212.25\:80:TR|06 Sep 1999 00:04:19 -0000
vti_author:SR|default
vti_syncwith_ftp.connect.net\:21:TX|06 Sep 1999 01:04:18 -0000
vti_syncofs_ftp.connect.net\:21:TW|10 Jan 2000 09:46:00 -0000
vti_syncwith_localhost\\\\\\beaus\\sharbrough\\my documents\\my webs\\beau///beaus/sharbrough/my documents/my webs/beau:TR|06 Sep 1999 00:04:19 -0000
vti_modifiedby:SR|bsharbrough
vti_timecreated:TR|05 May 2001 01:43:27 -0000
vti_backlinkinfo:VX|
vti_extenderversion:SR|6.0.2.4920
vti_syncwith_www.sharbrough.net\:80:TR|25 Feb 2003 17:41:40 -0000
vti_nexttolasttimemodified:TR|06 Sep 1999 00:04:19 -0000
vti_lineageid:SR|{75EF72CC-6408-4B4B-8395-DB7C1C0DA591}
vti_cacheddtm:TX|25 Feb 2003 17:41:40 -0000
vti_filesize:IR|10852
vti_cachedlinkinfo:VX|S|bleglob1.gif S|blegtext.gif S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/blends/bleglob1.gif FSUS|_themes/blends/blegtext.gif FSUS|_themes/blends/blank.gif
