vti_encoding:SR|utf8-nl
vti_encoding:SR|utf8-nl
vti_author:SR|Beau
vti_modifiedby:SR|bsharbrough
vti_timecreated:TR|06 Feb 2002 14:35:35 -0000
vti_timelastmodified:TR|06 Feb 2002 15:35:36 -0000
vti_extenderversion:SR|6.0.2.4920
vti_backlinkinfo:VX|
vti_syncwith_www.sharbrough.net\:80:TR|06 Feb 2002 15:35:36 -0000
vti_cacheddtm:TX|06 Feb 2002 15:35:36 -0000
vti_filesize:IR|5421
vti_cachedlinkinfo:VX|S|balbanr.gif S|balhbtn.gif S|balhsel.gif S|balhom.gif S|balnxt.gif S|balbck.gif S|balup.gif S|balglobl.gif S|balvbtn.gif S|balvsel.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/balance/balbanr.gif FSUS|_themes/balance/balhbtn.gif FSUS|_themes/balance/balhsel.gif FSUS|_themes/balance/balhom.gif FSUS|_themes/balance/balnxt.gif FSUS|_themes/balance/balbck.gif FSUS|_themes/balance/balup.gif FSUS|_themes/balance/balglobl.gif FSUS|_themes/balance/balvbtn.gif FSUS|_themes/balance/balvsel.gif
