vti_encoding:SR|utf8-nl
vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 May 2001 03:43:52 -0000
vti_syncwith_216.219.212.25\:80:TR|05 Sep 1999 23:46:05 -0000
vti_author:SR|default
vti_syncwith_ftp.connect.net\:21:TX|06 Sep 1999 00:46:04 -0000
vti_syncofs_ftp.connect.net\:21:TW|10 Jan 2000 09:47:00 -0000
vti_syncwith_localhost\\\\\\beaus\\sharbrough\\my documents\\my webs\\beau///beaus/sharbrough/my documents/my webs/beau:TR|05 Sep 1999 23:46:05 -0000
vti_modifiedby:SR|bsharbrough
vti_timecreated:TR|05 May 2001 01:43:51 -0000
vti_backlinkinfo:VX|
vti_extenderversion:SR|6.0.2.4920
vti_syncwith_www.sharbrough.net\:80:TR|05 May 2001 03:43:52 -0000
vti_cacheddtm:TX|05 May 2001 03:43:52 -0000
vti_filesize:IR|1927
vti_cachedlinkinfo:VX|S|acnvbnr.gif S|acnvrule.gif S|acnvbul1.gif S|acnvbul2.gif S|acnvbul3.gif S|cnvhbp.gif S|cnvhbs.gif S|cnvhbh.gif S|cnvvbp.gif S|cnvvbs.gif S|cnvvbh.gif S|cnvhomes.gif S|cnvhomeh.gif S|cnvhomes.gif S|cnvups.gif S|cnvuph.gif S|cnvups.gif S|cnvprevs.gif S|cnvprevh.gif S|cnvprevs.gif S|cnvnexts.gif S|cnvnexth.gif S|cnvnexts.gif S|acnvbul1.gif S|acnvbul2.gif S|acnvbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/canvas/acnvbnr.gif FSUS|_themes/canvas/acnvrule.gif FSUS|_themes/canvas/acnvbul1.gif FSUS|_themes/canvas/acnvbul2.gif FSUS|_themes/canvas/acnvbul3.gif FSUS|_themes/canvas/cnvhbp.gif FSUS|_themes/canvas/cnvhbs.gif FSUS|_themes/canvas/cnvhbh.gif FSUS|_themes/canvas/cnvvbp.gif FSUS|_themes/canvas/cnvvbs.gif FSUS|_themes/canvas/cnvvbh.gif FSUS|_themes/canvas/cnvhomes.gif FSUS|_themes/canvas/cnvhomeh.gif FSUS|_themes/canvas/cnvhomes.gif FSUS|_themes/canvas/cnvups.gif FSUS|_themes/canvas/cnvuph.gif FSUS|_themes/canvas/cnvups.gif FSUS|_themes/canvas/cnvprevs.gif FSUS|_themes/canvas/cnvprevh.gif FSUS|_themes/canvas/cnvprevs.gif FSUS|_themes/canvas/cnvnexts.gif FSUS|_themes/canvas/cnvnexth.gif FSUS|_themes/canvas/cnvnexts.gif FSUS|_themes/canvas/acnvbul1.gif FSUS|_themes/canvas/acnvbul2.gif FSUS|_themes/canvas/acnvbul3.gif
