vti_encoding:SR|utf8-nl
vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 May 2001 03:43:52 -0000
vti_syncwith_216.219.212.25\:80:TR|05 Sep 1999 23:46:05 -0000
vti_author:SR|default
vti_syncwith_ftp.connect.net\:21:TX|06 Sep 1999 00:46:04 -0000
vti_syncofs_ftp.connect.net\:21:TW|10 Jan 2000 09:47:00 -0000
vti_syncwith_localhost\\\\\\beaus\\sharbrough\\my documents\\my webs\\beau///beaus/sharbrough/my documents/my webs/beau:TR|05 Sep 1999 23:46:05 -0000
vti_modifiedby:SR|bsharbrough
vti_timecreated:TR|05 May 2001 01:43:51 -0000
vti_backlinkinfo:VX|
vti_extenderversion:SR|6.0.2.4920
vti_syncwith_www.sharbrough.net\:80:TR|05 May 2001 03:43:52 -0000
vti_cacheddtm:TX|05 May 2001 03:43:52 -0000
vti_filesize:IR|1499
vti_cachedlinkinfo:VX|S|cnvbnr.gif S|cnvrule.gif S|cnvbull1.gif S|cnvbull2.gif S|cnvbull3.gif S|cnvphbp.gif S|cnvphb.gif S|cnvpvbp.gif S|cnvpvb.gif S|cnvhome.gif S|cnvup.gif S|cnvprev.gif S|cnvnext.gif S|cnvbull1.gif S|cnvbull2.gif S|cnvbull3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/canvas/cnvbnr.gif FSUS|_themes/canvas/cnvrule.gif FSUS|_themes/canvas/cnvbull1.gif FSUS|_themes/canvas/cnvbull2.gif FSUS|_themes/canvas/cnvbull3.gif FSUS|_themes/canvas/cnvphbp.gif FSUS|_themes/canvas/cnvphb.gif FSUS|_themes/canvas/cnvpvbp.gif FSUS|_themes/canvas/cnvpvb.gif FSUS|_themes/canvas/cnvhome.gif FSUS|_themes/canvas/cnvup.gif FSUS|_themes/canvas/cnvprev.gif FSUS|_themes/canvas/cnvnext.gif FSUS|_themes/canvas/cnvbull1.gif FSUS|_themes/canvas/cnvbull2.gif FSUS|_themes/canvas/cnvbull3.gif
