a:link
{
	color: rgb(102,51,0);
}
a:visited
{
	color: rgb(204,102,51);
}
a:active
{
	color: rgb(102,102,102);
}
body
{
	color: rgb(51,0,51);
	background-color: rgb(255,255,204);
}
h1
{
	color: rgb(102,0,51);
}
h2, marquee
{
	color: rgb(0,51,102);
}
h3
{
	color: rgb(102,102,102);
}
h4
{
	color: rgb(102,0,51);
}
h5
{
	color: rgb(0,51,102);
}
h6
{
	color: rgb(102,102,102);
}
HR
{
	color: rgb(102,102,102);
}
BUTTON 
{
	background-color: rgb(102,0,51);	
	border-color: rgb(153,153,153);
	color: White;
}
LABEL, .MSTHEME-LABEL
{
	color: rgb(51,0,51);
}
TEXTAREA
{
	border-color: rgb(0,51,102);
	color: black;
}
FIELDSET
{
	border-color: rgb(0,51,102);
	color: Black;
}
LEGEND
{
	color: rgb(102,102,102);
}
SELECT
{
	border-color: rgb(0,51,102);
	border-width: 1pt;
	color: black;
}
TABLE
{
	table-border-color-light: rgb(153,153,153);
	table-border-color-dark: rgb(0,51,102);
	border-color: rgb(0,51,102);
	color: rgb(51,0,51);
}
CAPTION 
{
	color: rgb(102,102,102);
}
TH
{
	color: rgb(51,0,51);
	border-color: rgb(0,51,102);
}
TD
{
	border-color: rgb(0,51,102);
}