vti_encoding:SR|utf8-nl
vti_author:SR|Beau
vti_modifiedby:SR|WEB\\bsharbrough
vti_timecreated:TR|12 Jul 2001 03:37:22 -0000
vti_timelastmodified:TR|12 Jul 2001 05:42:56 -0000
vti_extenderversion:SR|6.0.2.6353
vti_backlinkinfo:VX|movies/movielist.htm
vti_nexttolasttimemodified:TR|12 Jul 2001 03:42:34 -0000
vti_syncwith_www.sharbrough.net\:80:TR|12 Jul 2001 05:42:56 -0000
vti_lineageid:SR|{FEA85DE5-6655-4154-A933-CD5A9F8A8A34}
vti_cacheddtm:TX|12 Jul 2001 05:42:56 -0000
vti_filesize:IR|4567
